{% extends "members/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}
{% block hat_title %}
    <h1>
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    </h1>
{% endblock %}
{% block subcontent %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        </p>
    {% else %}
        <form method="POST" action="{{ action_url }}">
            {% csrf_token %}
            <div class="col-md-6">
                <div class="form-text">{{ form.password1.label_tag }}</div>
                <div class="input-group">{{ form.password1|add_class:'form-control' }}</div>
                <div class="alert-danger">{{ form.password1.errors }}</div>
                <div class="form-text">{{ form.password2.label_tag }}</div>
                <div class="input-group">{{ form.password2 |add_class:'form-control' }}</div>
                <div class="alert-danger">{{ form.password2.errors }}</div>
                <input class="btn btn-primary mt-2"
                       type="submit"
                       name="action"
                       value="{% trans 'change password' %}"/>
            </div>
        </form>
    {% endif %}
{% endblock %}
