header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  background-image: url("../images/illustrations/brouettes.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
  background-position: top;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  z-index: -1;
}

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: transparent;
}
.nav-link {
  display: block;
  padding: 0.5rem 0.5rem;
  color: #0a4275;
  text-decoration: none;
  font-size: 1.2em !important;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out;
}

.bg-transparent {
  --bs-bg-opacity: 0;
  background-color: rgba(var(--bs-light-rgb), var(--bs-bg-opacity)) !important;
}

.input-readonly {
  background-color: transparent;
  border: 0;
  font-size: 1em;
}
