amqp==5.3.1
asgiref==3.12.1
asttokens==3.0.2
billiard==4.2.4
boto3==1.43.93
botocore==1.43.93
celery==5.6.3
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.1
click==8.5.0
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
cron-descriptor==1.4.5
cryptography==50.0.1
cssbeautifier==2.0.3
django==6.0.8
django-allauth==65.19.3
django-celery-beat==2.9.0
django-celery-results==2.6.0
django-debug-toolbar==8.0.0
django-filter==26.1
django-modeltranslation==0.20.6
django-phonenumber-field==8.5.0
django-post-office==3.11.3
django-redis==7.0.0
django-ses==4.8.0
django-simple-history==3.13.0
django-timezone-field==7.2.2
django-widget-tweaks==1.5.1
djlint==1.46.1
editorconfig==0.17.1
executing==2.2.1
fontawesomefree==6.6.0
idna==3.19
ipython==9.17.1
ipython-pygments-lexers==1.1.1
jedi==0.20.0
jmespath==1.1.0
jsbeautifier==2.0.3
json5==0.15.0
kombu==5.6.2
matplotlib-inline==0.2.2
nh3==0.3.7
oauthlib==3.3.1
packaging==26.3
parso==0.8.7
pathspec==1.1.1
pdfminer-six==20260107
pexpect==4.9.0
phonenumbers==9.0.39
prompt-toolkit==3.0.53
psutil==7.2.2
psycopg==3.3.5
psycopg-binary==3.3.5
ptyprocess==0.7.0
pure-eval==0.2.4
pycparser==3.0
pygments==2.21.0
pyjwt==2.14.0
pypdf==6.18.1
python-crontab==3.4.0
python-dateutil==2.9.0.post0
pyyaml==6.0.3
redis==6.4.0
regex==2026.9.10
requests==2.34.2
ruff==0.16.7
s3transfer==0.19.2
six==1.17.0
sqlparse==0.6.0
stack-data==0.6.3
traitlets==5.16.1
typing-extensions==4.16.0
tzdata==2026.4
tzlocal==5.4.4
unidecode==1.4.0
urllib3==2.7.0
vine==5.1.0
wcwidth==0.8.3
