{% extends "members/base.html" %}
{% load i18n %}
{% block hat_title %}{% trans "Message history" %}{% endblock hat_title %}
{% block hat_text %}{{ section.name }}{% endblock hat_text %}
{% block subcontent %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Subject" %}</th>
                <th>{% trans "Sender" %}</th>
            </tr>
        </thead>
        <tbody>
            {% for msg in section_messages %}
                <tr>
                    <td>{{ msg.created_at|date:"d/m/Y H:i" }}</td>
                    <td>{{ msg.subject }}</td>
                    <td>{{ msg.sender.first_name }} {{ msg.sender.last_name }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="3">{% trans "No message." %}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock subcontent %}
