{% extends "members/base.html" %}
{% load widget_tweaks %}
{% block subcontent %}
    <div class="container">
        <form action="" method="get">
            <div class="container">
                <div class="row m-2">
                    <div class="col">
                        <input class="form-control"
                               type="text"
                               placeholder="{{ filter.form.first_name.label }}"
                               name="{{ filter.form.first_name.name }}"
                               id="{{ filter.form.first_name.id }}"
                               value="{{ filter.form.first_name.value|default_if_none:'' }}"/>
                    </div>
                    <div class="col">
                        <input class="form-control"
                               type="text"
                               placeholder="{{ filter.form.last_name.label }}"
                               name="{{ filter.form.last_name.name }}"
                               id="{{ filter.form.last_name.id }}"
                               value="{{ filter.form.last_name.value |default_if_none:'' }}"/>
                    </div>
                    <div class="col">
                        <select class="form-select" name="{{ filter.form.quality.name }}">
                            {% for item in filter.form.quality %}{{ item }}{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="row m-2">
                    <div class="col">
                        <select class="form-select" name="{{ filter.form.section.name }}">
                            {% for item in filter.form.section %}{{ item }}{% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" name="{{ filter.form.birthday_year.name }}">
                            {% for item in filter.form.birthday_year %}{{ item }}{% endfor %}
                        </select>
                    </div>
                    <div class="col">
                        <select class="form-select" name="{{ filter.form.year.name }}">
                            {% for item in filter.form.year %}{{ item }}{% endfor %}
                        </select>
                    </div>
                </div>
                <div class="container">
                    <button type="submit" class="btn btn-primary">Filtrer</button>
                    <a class="btn btn-outline-primary" href="{% url 'members:admin_list' %}">Réinitialiser</a>
                </div>
            </div>
        </form>
        <hr class="hr" />
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Prénom</th>
                    <th scope="col">Nom</th>
                    <th scope="col">Date de naissance</th>
                    <th scope="col">Sexe</th>
                    <th scope="col">Section</th>
                </tr>
            </thead>
            <tbody>
                {% for member in object_list %}
                    <tr>
                        <th scope="row">{{ member.first_name }}</th>
                        <td>{{ member.last_name }}</td>
                        <td>{{ member.birthday | default_if_none:'' }}</td>
                        <td>{{ member.sex | default_if_none:'' }}</td>
                        <td>{{ member.year_section }}</td>
                        <td>{{ member.adult_type }}</td>
                        <td>
                            <a class="btn btn-primary btn-sm"
                               href="{% url 'members:admin_update' pk=member.pk %}">Modifier</a>
                        </td>
                    </tr>
                {% empty %}
                    <li>Aucun résultat</li>
                {% endfor %}
            </tbody>
        </table>
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page=1" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">précédente</a>
                </li>
            {% endif %}
            <li class="page-item">
                <span class="page-link current">Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}</span>
            </li>
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">suivante</a>
                </li>
                <li class="page-item">
                    <a class="page-link"
                       aria-label="Next"
                       href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock subcontent %}
