{% load widget_tweaks %}
{% with WIDGET_ERROR_CLASS="is-invalid d-block" %}
    <form hx-post="{{ request.path }}"
          hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
          class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">Clé secrète de l'enfant</h5>
            <button type="button"
                    class="btn-close"
                    data-bs-dismiss="modal"
                    aria-label="Close"></button>
        </div>
        <div class="modal-body form-horizontal">
            <div class="mb-3 form-group row">
                <label for="{{ form.secret_key.id_for_label }}"
                       class="col-form-label col-sm-4">{{ form.secret_key.label }}</label>
                <div class="col-sm-8">{% render_field form.secret_key class="form-control" %}</div>
                <div class="invalid-feedback {{ WIDGET_ERROR_CLASS }}">{{ form.secret_key.errors|first }}</div>
            </div>
        </div>
        <div class="modal-footer">
            {% comment %} {% if child %}
    <button type="button" class="btn btn-danger" hx-post="{% url 'remove_child' pk=child.pk %}">Retirer</button>
    <span class="flex-grow-1"></span>
            {% endif %} {% endcomment %}
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
            <button type="submit" class="btn btn-primary">Enregister</button>
        </div>
    </form>
{% endwith %}
