{% for child in children %}
    <tr id="child-{{ child.pk }}" class="child-row">
        <td>{{ child.first_name }}</td>
        <td>{{ child.last_name }}</td>
        <td>{{ child.secret_key }}</td>
        <td>{{ child.get_section.name }}</td>
        <td>
            <a class="btn btn-outline-danger btn-sm"
               href="{% url 'members:deregister_child' pk=child.pk %}">Désinscrire</a>
            <a class="btn btn-outline-warning btn-sm me-1"
               href="{% url 'members:dettach_child' pk=child.pk %}">Détacher</a>
            <button class="btn btn-primary btn-sm me-1"
                    hx-get="{% url 'members:edit_child' pk=child.pk %}"
                    hx-target="#dialog">
                Modifier
            </button>
        </td>
    </tr>
{% endfor %}
