{% extends "members/base.html" %}
{% load account %}
{% block hat_title %}
    Confirmer que vous souhaitez désinscrire {{ child.first_name }}
{% endblock hat_title %}
{% block subcontent %}
    <p>
        <ul>
            <li>
                Une désinscription pour l'année suivante<sup>1</sup> ou pour une inscription en état de "demande" sera directement prise en compte.
            </li>
            <li>
                Si la désinscription est demandée pour l'année en cours et que l'inscription est active, cela demandera une intervention manuelle, assurez-vous d'avoir suivi la procédure indiquée dans le règlement d'ordre intérieur.
            </li>
        </ul>
        <sup>1</sup> L'année commence le 1er août, juste après le camp.
    </p>
    <div class="container">
        <a class="btn btn-primary me-1"
           href="{% url 'members:deregister_confirm' child.username 'this_year' %}">Désinscrire {{ child.first_name }} pour l'année en cours</a>
        <a class="btn btn-primary"
           href="{% url 'members:deregister_confirm' child.username 'next_year' %}">Désinscrire {{ child.first_name }} pour l'année prochaine</a>
    </div>
{% endblock subcontent %}
