{% extends "members/base.html" %}
{% load account %}
{% block hat_title %}
    Confirmer que vous souhaitez désinscrire {{ child.first_name }}
{% endblock hat_title %}
{% block subcontent %}
    <p>
        Une désinscription pour l'année suivante sera directement prise en compte.
        <br />
        Si la désinscription est demandée pour l'année en cours, cela demandera une intervention manuelle, assurez-vous d'avoir suivi la procédure indiquée dans le règlement d'ordre intérieur.
    </p>
    <div class="container">
        <a class="btn btn-primary me-1"
           href="{% url 'members:deregister_confirm' child.username 'this_year' %}">Désinscrire {{ child.first_name }} pour l'année en cours</a>
        <a class="btn btn-primary"
           href="{% url 'members:deregister_confirm' child.username 'next_year' %}">Désinscrire {{ child.first_name }} pour l'année prochaine</a>
    </div>
{% endblock subcontent %}
