{% extends "members/base.html" %}
{% load socialaccount %}
{% load widget_tweaks %}
{% block hat_title %}
    Votre profil
{% endblock hat_title %}
{% block hat_text %}
{% endblock hat_text %}
{% block subcontent %}
    <div class="topping-federation topping-top topping-right topping-large d-none d-lg-block"></div>
    <form method="post">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <fieldset id="scout">
                    <div class="mb-1">
                        <div class="form-label">
                            Nom d'utilisateur:
                            {{ request.user.username }}
                        </div>
                        <div class="form-label">{{ form.email.label_tag }}</div>
                        <div class="input-group">
                            <span class="input-group-text" id="email-prefix"><i class="bi-envelope"></i></span>
                            {% render_field form.email class='form-control' %}
                        </div>
                        <div class="alert-danger">{{ form.email.errors }}</div>
                        <div class="form-label">{{ form.first_name.label_tag }}</div>
                        <div class="input-group">{{ form.first_name| add_class:"form-control" }}</div>
                        <div class="alert-danger">{{ form.first_name.errors }}</div>
                        <div class="form-label">{{ form.last_name.label_tag }}</div>
                        <div class="input-group">{{ form.last_name| add_class:"form-control" }}</div>
                        <div class="alert-danger">{{ form.last_name.errors }}</div>
                        <div class="form-label">{{ form.address.label_tag }}</div>
                        <div class="input-group">
                            <span class="input-group-text" id="address-prefix"><i class="bi-house"></i></span>
                            {% render_field form.address class="form-control" placeholder="Ex: Rue des Bouchers 1 bte 2, 1300 Limal" %}
                        </div>
                        <div class="alert-danger">{{ form.address.errors }}</div>
                        <div class="form-label">{{ form.phone.label_tag }}</div>
                        <div class="input-group">
                            <span class="input-group-text" id="phone-prefix"><i class="bi-telephone"></i></span>{% render_field form.phone class="form-control" %}
                        </div>
                        <div class="alert-danger">{% render_field form.phone.errors class="form-control" placeholder="+32478132456" %}</div>
                        {% if form.group %}
                            <div class="form-label">Rôle :</div>
                            <div class="form-text">
                                Si êtes d'accord d'être contacté lorsque de l'aide est recherchée pour certains évènements, choisissez "Parent actif"
                            </div>
                            <div class="input-group">{% render_field form.group class="form-select" id="parent-select" %}</div>
                            <div class="alert-danger">{{ form.group.errors }}</div>
                            <div class="mb-3 mt-3 form-check form-switch">
                                {{ form.photo_consent | add_class:"form-check-input" }}
                                <label for="id_photo_consent">
                                    (Optionnel) J'accepte que les photos ou vidéos sur lesquelles mon (mes) enfant(s) figure(nt) soient utilisées par Les Scouts ASBL, dont l'unité de Limal fait partie.
                                </label>
                            </div>
                            <div class="alert-danger">{{ form.photo_consent.errors }}</div>
                        {% endif %}
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary btn-block">Envoyer</button>
                            <a href="{% url 'account_change_password' %}"
                               class="btn btn-outline-primary">Changer de mot de passe</a>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    <div class="alert-danger">{{ form.errors }}</div>
    <hr class="hr" \>
    <div id="child-add" class="container d-none">
        <p>
            Pour associer un enfant <span class="text-ls-bleu-clair">déjà inscrit</span>, demander la "Clé secrète" au parent ayant inscrit l'enfant et cliquer sur <span class="text-ls-vert-base">Ajouter un enfant existant avec une clé</span>.
            <br />
            Si un des parents ne souhaite plus recevoir les mails concernant un enfant inscrit, il peut le <span class="text-ls-orange">détacher</span> à condition qu'il reste au moins un autre parent.
        </p>
        <table class="table">
            <thead>
                <tr>
                    <th>Prénom</th>
                    <th>
                        Nom
                    </th>
                    <th>
                        Clé secrète
                    </th>
                    <th>
                        État de l'inscription
                    </th>
                </tr>
            </thead>
            <tbody hx-trigger="load, childListChanged from:body"
                   hx-get="{% url 'members:child_list' %}"
                   hx-target="this">
                <tr>
                    <td class="spinner-border" role="status">
                        <span class="visually-hidden">Chargement...</span>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="container">
            <button hx-get="{% url 'members:add_new_child' %}"
                    hx-target="#dialog"
                    class="btn btn-primary">
                Ajouter un nouvel enfant
            </button>
            <button hx-get="{% url 'members:add_key_child' %}"
                    hx-target="#dialog"
                    class="btn btn-primary">
                Ajouter un existant enfant avec une clé
            </button>
        </div>
    </div>
    <script>
        function showChildAdd() {
          var selectedValue = document.getElementById('parent-select').value;
          var childadd = document.getElementById('child-add');
          if (selectedValue === '23' || selectedValue === '7') {
            childadd.classList.remove('d-none');
          } else {
            childadd.classList.add('d-none');
          }
        }
      
        document.addEventListener('DOMContentLoaded', function() {
          showChildAdd();
        });
      
        document.getElementById('parent-select').addEventListener('change', function() {
          showChildAdd();
        });
    </script>
{% endblock subcontent %}
