{% extends "members/base.html" %}
{% load widget_tweaks %}
{% block hat_title %}
    Compléter votre inscription
{% endblock hat_title %}
{% block hat_text %}
    Vous êtes sur le point de vous connecter avec votre compte {{ provider_name }}.
    Veuillez compléter le formulaire ci-dessous pour finaliser votre inscription.
{% endblock hat_text %}
{% block subcontent %}
    <form class="signup"
          id="signup_form"
          method="post"
          action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <fieldset id="scout">
                    <div class="mb-3">
                        {% for field in form %}
                            <div class="form-text">{{ field.label_tag }}</div>
                            <div class="input-group">
                                {% if field.name == "email" %}
                                    <span class="input-group-text"><i class="bi-envelope"></i></span>
                                {% endif %}
                                {{ field|add_class:"form-control" }}
                            </div>
                            <div class="alert-danger">{{ field.errors }}</div>
                        {% endfor %}
                        {% if redirect_field_value %}
                            <input type="hidden"
                                   name="{{ redirect_field_name }}"
                                   value="{{ redirect_field_value }}"/>
                        {% endif %}
                        <button type="submit" class="btn btn-primary btn-block mt-3">Continuer</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
{% endblock subcontent %}
