{% extends "base.html" %}
{% block content %}
    <article>
        <div class="bg-ls-bleu-clair bg-topping-federation topping-white bg-topping-opacity-10">
            <div class="container">
                <div class="row ">
                    <div class="col-11 offset-md-1 pb-1 mt-1">
                        <h1 class="mt-2">
                            {% block hat_title %}
                            {% endblock hat_title %}
                        </h1>
                        <div class="pb-5">
                            <p>
                                {% block hat_text %}
                                {% endblock hat_text %}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container mb-5">
            <div class="row mt-5">
                <div class="col-md-12 mb-5">
                    {% comment %} <div class="topping-federation topping-top topping-right topping-large d-none d-lg-block"></div> {% endcomment %}
                    <div class="above-topping">
                        {% block subcontent %}
                        {% endblock subcontent %}
                    </div>
                </div>
            </div>
            <div class="row mt-2 mb-5">
                <div class="col-md-12"></div>
            </div>
        </div>
    </article>
{% endblock content %}
