{% extends "members/base.html" %}
{% load account %}
{% load i18n %}
{% block hat_title %}
    {% blocktranslate with first_name=child.first_name %}Create an account for {{ first_name }}{% endblocktranslate %}
{% endblock hat_title %}
{% block subcontent %}
    <p>
        {% trans "Create an account so your child can access their section's information and edit their own details." %}
        <br />
        {% trans "If they are over 18, they will also be able to detach their account from their parents', who will no longer receive information about them or membership fee reminders." %}
        <br />
        <br />
        {% trans "An email will be sent to your child's address with a link. It will allow them to create a password and validate their account." %}
    </p>
    <div class="container">
        <form action="" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">{% trans "Send" %}</button>
        </form>
        {{ form.errors }}
    </div>
{% endblock subcontent %}
