{% extends "members/base.html" %}
{% load account %}
{% load i18n %}
{% block hat_title %}
    {% blocktranslate %}Confirm that you want to detach {{ child.first_name }}{% endblocktranslate %}
{% endblock hat_title %}
{% block subcontent %}
    {% if not allow_dettach %}
        {{ message | linebreaks }}
        <a class="btn btn-primary" href="{% url 'members:profile' user %}">{% trans "Back" %}</a>
    {% else %}
        {{ message | linebreaks }}
        <div class="container">
            <a class="btn btn-primary me-1"
               href="{% url 'members:dettach_confirm' child.pk %}">{% trans "Detach" %}</a>
            <a class="btn btn-outline-primary"
               href="{% url 'members:profile' user %}">{% trans "Cancel" %}</a>
        </div>
    {% endif %}
{% endblock subcontent %}
