{% extends "members/base.html" %}
{% load widget_tweaks %}
{% block hat_title %}
    S'inscrire
{% endblock hat_title %}
{% block hat_text %}
{% endblock hat_text %}
{% block subcontent %}
    <p>
        You are about to use your {{ provider_name }} account to login to
        {{ site_name }}. As a final step, please complete the following form:
    </p>
    <form class="signup"
          id="signup_form"
          method="post"
          action="{% url 'socialaccount_signup' %}">
        {% csrf_token %}
        {{ form.as_p }}
        {% if redirect_field_value %}
            <input type="hidden"
                   name="{{ redirect_field_name }}"
                   value="{{ redirect_field_value }}"/>
        {% endif %}
        <button type="submit">Envoyer</button>
    </form>
{% endblock subcontent %}
