{% extends "members/base.html" %}
{% load i18n %}
{% load account %}
{% block hat_title %}
    {% trans "Password Reset" %}
{% endblock %}
{% block subcontent %}
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
    <p>
        {% blocktrans %}Nous vous avons envoyé un e-mail.  Si vous ne l'avez pas reçu, vérifiez votre boite à spams.  Sinon, contactez-nous si vous ne l'avez pas reçu dans quelques minutes{% endblocktrans %}
    </p>
{% endblock %}
