{% extends "members/base.html" %}
{% load widget_tweaks %}
{% load i18n %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock %}
{% block hat_title  %}
    <h1>{% trans "Change Password" %}</h1>
{% endblock %}
{% block subcontent %}
    <form method="POST"
          action="{% url 'account_change_password' %}"
          class="password_change">
        {% csrf_token %}
        <div class="form-text">{{ form.oldpassword.label_tag }}</div>
        <div class="input-group">{{ form.oldpassword|add_class:'form-control' }}</div>
        <div class="alert-danger">{{ form.oldpassword.errors }}</div>
        <div class="form-text">{{ form.password1.label_tag }}</div>
        <div class="input-group">{{ form.password1|add_class:'form-control' }}</div>
        <div class="alert-danger">{{ form.password1.errors }}</div>
        <div class="form-text">{{ form.password2.label_tag }}</div>
        <div class="input-group">{{ form.password2 |add_class:'form-control' }}</div>
        <div class="alert-danger">{{ form.password2.errors }}</div>
        <button type="submit" name="action" class="btn btn-primary mt-2">{% trans "Change Password" %}</button>
        <a href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </form>
{% endblock subcontent %}
