{% extends "members/base.html" %}
{% load socialaccount %}
{% load widget_tweaks %}
{% block hat_title %}
    Créer votre utilisateur
{% endblock hat_title %}
{% block hat_text %}
    Pour faire une demande d'inscription pour un ou plusieurs enfants dans notre unité, un parent doit commencer par s'inscrire sur notre site en suivant la procédure ci-dessous.  Ensuite, il pourra ajouter ses enfants et une ou plusieurs autres personnes ayant la responsabilité de l'enfant.
{% endblock hat_text %}
{% block subcontent %}
    <legend class="fw-bold">
        Créer votre utilisateur (réservé aux parents et animateurs·trices)
    </legend>
    <form class="signup"
          id="signup_form"
          method="post"
          action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div class="row">
            <div class="col-md-6">
                <fieldset id="scout">
                    <div class="mb-3">
                        <div class="form-text">{{ form.username.label_tag }}</div>
                        {{ form.username|add_class:'form-control' }}
                        <div class="alert-danger">{{ form.username.errors }}</div>
                        <div class="form-text">{{ form.email.label_tag }}</div>
                        <div class="input-group">
                            <span class="input-group-text" id="email-prefix"><i class="bi-envelope"></i></span>
                            {{ form.email |add_class:'form-control' }}
                        </div>
                        <div class="alert-danger">{{ form.email.errors }}</div>
                        <div class="form-text">{{ form.password1.label_tag }}</div>
                        <div class="input-group">
                            <span class="input-group-text" id="password1-prefix"><i class="bi-lock"></i></span>
                            {{ form.password1|add_class:'form-control' }}
                        </div>
                        <div class="alert-danger">{{ form.password1.errors }}</div>
                        <div class="form-text">{{ form.password2.label_tag }}</div>
                        <div class="input-group">
                            <span class="input-group-text" id="password2-prefix"><i class="bi-lock"></i></span>
                            {{ form.password2|add_class:'form-control' }}
                        </div>
                        <div class="alert-danger">{{ form.password2.errors }}</div>
                        <input type="hidden"
                               name="{{ redirect_field_name }}"
                               value="{{ redirect_field_value }}"/>
                        <button type="submit" class="btn btn-primary btn-block mt-3">Envoyer</button>
                    </div>
                </fieldset>
            </div>
        </div>
    </form>
    <div class="col-md-6 row">
        <legend class="fw-bold">
            Ou se connecter avec
        </legend>
        <div>
            <a class="btn btn-primary mb-3 container"
               style="background-color: #3b5998"
               href="#!"
               role="button"><i class="fab fa-facebook me-2"></i>Facebook</a>
            <a class="btn btn-primary mb-3 container"
               style="background-color: #dd4b39"
               href="{% provider_login_url 'google' %}"
               role="button"><i class="fab fa-google me-2"></i>Google</a>
        </div>
    </div>
{% endblock subcontent %}
