{% extends "members/base.html" %}
{% if messages %}
    <div>
        <strong>Messages:</strong>
        <ul>
            {% for message in messages %}<li>{{ message }}</li>{% endfor %}
        </ul>
    </div>
{% endif %}
{% block hat_title %}
    Vérifiez votre adresse e-mail
{% endblock hat_title %}
{% block subcontent %}
    <p class="col-md-6 offset-md-1 topping-federation topping-white topping-middle topping-left-outside topping-large  mb-5">
        Un email de vérification a été envoyé. Suivez le lien fourni pour finaliser la création de votre compte.  Si vous ne trouvez pas l'email de vérification dans votre répertoire principal, vérifier vos spams et notifications.
        Contactez-nous à staffunite@scouts-limal.be si vous ne recevez pas d'email de vérification dans les minutes qui arrivent.
    </p>
{% endblock subcontent %}
