{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% block header %}
    <script src="{% static 'js/base.js' %}"></script>
{% endblock header %}
{% block content %}
    {% if page_html %}
        {{ page_html|safe }}
        <style>{{ page_css|safe }}</style>
    {% else %}
        {% include "homepage/snippets/home_default.html" %}
    {% endif %}
    {% if user.is_superuser %}
        <a href="{% url 'homepage_editor' %}?page=home"
           class="btn btn-outline-secondary position-absolute bottom-0 end-0 m-3">
            ✎ {% trans "Edit this page" %}
        </a>
    {% endif %}
{% endblock content %}
